/* Style the bones of the page: header, main, footer */
body {
    font-family: europa, sans-serif;
    opacity: 1;
}

header {
    font-size: 1rem;
    font-weight: 700;
    margin: 43px 0 48px 0;
}

header span {
    position: relative;
    bottom: 15px;
}

main {
    color: #121212;
    font-family: europa, sans-serif;
    text-align: center;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5bc057;
    color: #ffffff;
}
/* End of the base styling for page structure */

/* Style the header navbar */
.topnavbar {
    padding: 14px 16px;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
}
.playlist-icon {
    width: 35px;
}
.topnavbar-left a {
    float: left;
    font: normal normal bold 26px/31px Europa;
    letter-spacing: 0.52px;
    color: #5bc057;
}

.topnavbar-right {
    float: right;
}
#howitworks {
    font: normal normal normal 16px/19px Europa;
    letter-spacing: -0.16px;
    border: none;
    padding: 14px 25px 14px 25px;
    border-radius: 6px;
}
#connecttospotify {
    font: normal normal normal 15px/18px Europa;
    letter-spacing: -0.23px;
    border: none;
    padding: 14px 25px 14px 25px;
    background: #5bc057 0% 0% no-repeat padding-box;
    border-radius: 10px;
    color: #ffffff;
}
.topnavbar::after {
    content: "";
    clear: both;
    display: table;
}
/* End of hte header navbar */


/* Style Main Body Content */
img.panda {
    width: 220px;
    height: 220px;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

label {
    display: none;
}

p {
    color: black;
    margin: 0;
    font-size: 0.8rem;
}

input[type=email] {
    border: none;
    border-radius: 6px 0 0 6px;
    padding: 14px 0 14px 12px;
    width: 290px;
}

input[type=submit] {
    border: none;
    background-color: black;
    color: white;
    padding: 14px 25px 14px 25px;
    border-radius: 0 6px 6px 0;
    position: absolute;
}

input::placeholder {
    color: #B7B7B7;
}

form {
    position: relative;
    top: 88px;
    right: 46px;
}

.input, .notify-btn {
    display: inline;
}

/* Clear the default anchor style */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
/* Search Ber Styling */
form.searchbar input[type=text]{
    font-size: 17px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #121212;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background: white;
}
form.searchbar button {
    /* width: 10%; */
    padding: 0px;
    margin: 0px;
    text-align: left;
    background: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    display: inline;
}
form.searchbar button:hover {
    background: black;
}
/* End of Search Bar Styling */



/* I think it is mobile first design for screen size so the media queries adds on for larger sizes */
@media only screen and (min-width: 768px) {

    header {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 43px 0 32px 0;
    }

    .playlist-icon {
        width: 41px;
    }

    img.panda {
        width: 220px;
        height: 220px;
    }

    h1 {
        font-size: 3rem;
    }

    form {
        top: 66px;
    }
    p{
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1200px) {

    header {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 43px 0 93px 0;
    }

    img.panda {
        width: 260px;
        height: 260px;
    }

    h1 {
        font-size: 4rem;
    }

    form {
        top: 88px;
    }
    p{
        font-size: 1.6rem;
    }
}
